.repl-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid darkgray;
  padding: 4px;

  * {
    font-size: 16px;
    line-height: 16px;
    font-family: "Courier New", Courier, monospace;
    color: black;
    white-space: pre;
  }
}